:root{
    --purple:#bb90db;
    --dark:#7334a2;
    --box-body:#fff;
    --text:#1d1d1d;
    --base-color:#fff;
    --search-color:#f3f3f3;
    --base-variant:#f2f3f7;
}

.darkmode{
    --purple:#bb90db;
    --dark:#7334a2;
    --box-body:#070b1d;
    --text:#ffffff;
    --base-color:#070b1d;
    --search-color:#070b1d;
    --base-variant:#070b1d;
}

body{
    background-color: var(--base-color) ;
    color:var(--text) ;
}

*{ /* From admin dashboard styling can change/remove */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}

/*#region Admin Dashboard*/
.dashboard-row{
    display: flex;
    min-width: 100%;
    height: 100%;
}
.admin-db-container{
    display: flex;
    min-height: 100vh;
}
.nav-menu{
    background-color: rgb(46, 46, 46);
    color: white;
    width: 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    transition: 0.3s;
}
.nav-menu a{
    margin: 20px 0;
}
.nav-menu img[src="../images/logo_main.png"]{
    width: 110px;
}
.header-admin img[src="../images/log-out-icon.png"]{
    cursor: pointer;
}
.menu-toggle{
    display: none;
}
.header-admin{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 5px;
}
.header-admin a{
    cursor: pointer;
}
.header-admin img,.header-admin label{
    margin: 10px;
}
.hamburger-icon{
    display: none;
}
.dashboard-content{
    flex-grow: 1;
    padding: 20px;
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
.Kpi{
    display: flex;
    justify-content: center;
}
.Kpi div{
    padding: 30px 10px;
    border-radius: 8px;
    margin: 0 20px;
    width: 20%;
    border: 1px solid #bdbcbc;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.39);
}
.Kpi h2{
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 500;
}
.Kpi p{
    font-size: 2rem;
    font-weight: bold;
}
.Kpi span{
    font-size: 1.1rem;
    font-weight: 600;
}
.table-container{
    overflow-y: auto;
    max-height: 550px;
    margin: 20px 0;
    
}
.inventory-table{
    border-collapse: collapse;
    width: 100%;
    margin: 30px 0;
}
.inventory-table th{
    border: 1px solid #cecece;
    padding: 10px 5px;
    align-items: center;
}
.inventory-table td{
    background-color: #e7e6e6;
    border: 1px solid #cecece;
    padding: 10px 5px;
    text-align: center;
    font-weight: bold;
}
.inventory-table td button{
    padding: 5px 10px;
    margin: 5px;
    color: #fff;
}
.inventory-table td button:hover{
    cursor: pointer;
}
.inventory-table thead a{
    color: #000;
}
#search-inventory-product{
    position: relative;
    display: flex;
    align-items: center;
}
#search-inventory-product input{
    margin: 0 10px;
}
#search-inventory-product button {
    position: absolute;
    top: 8%;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}
#search-inventory-product button img{
    width: 20px;
}
.nav-btns{
    display: flex;
    justify-content: end;
}
.nav-btns a{
    color: black;
    text-decoration: none;
    border: 2px solid #8a8a8a;
    margin: 20px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 25px
}
.nav-btns a:hover{
    background-color: var(--purple);
}
.filter-inputs{
    display: flex;
    justify-content:space-between;
    width: 100%;
}
.filter-inputs select{
    padding: 5px 20px;
    font-size: 0.95rem;
    font-weight: bold;
    border: 2px solid #8a8a8a;
    border-radius: 13px;
}
.filter-inputs select:focus{
    outline: none;
}
.filter-inputs input[type="text"]{
    padding: 6px 10px;
    outline: none;
    border: 2px solid #8a8a8a;
    border-radius: 13px;
    font-weight: bold;
}
.filter-inputs form button{
    padding: 5px 10px;
    border: 2px solid #8a8a8a;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
}
.filter-inputs form a{
    padding: 5px 10px;
    border: 2px solid #8a8a8a;
    font-weight: bold;
    color: #000;
}
.filter-inputs form a:hover,
.filter-inputs form button:hover{
    background-color: var(--purple);
}
.edit-item-btn {
    background-color: #21b42d;
    border: 1px solid #65c26d;
    color: #fff;
    padding: 4px 6px;
    margin-right: 3px;
    text-decoration: none;
}
.delete-item-btn{
    background-color: #c71d1d;
    border: 1px solid #af4848;
    padding: 4px 6px;
    color: #fff;
    text-decoration: none;
}
.alert{
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
}
.alert.success{
    color: #155724;
    background-color: #d4edda ;
    border: 1px solid #c3e6cb;
}
.alert.error{
    color: #682219;
    background-color: #d67c7c ;
    border: 1px solid #d86e6e;
}
.alert.info{
    color: #0e0e0e;
    background-color: #c4c4c4 ;
    border: 1px solid #c4c4c4;
}
.admin-db-form .admin-db-container{
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.product-form{
    display: flex;
    flex-direction: column;
    padding: 30px;
    max-width: 800px;
    border-radius: 14px;
    width: auto;
    background-color: #e2e1e1;
}
.product-form img{
    width: 250px;
    margin: 0 auto;
}
.product-form .title{
    font-size: 2.3rem;
    text-align: center;
}
.product-form input,
.product-form select,
.product-form textarea{
    padding: 10px 20px;
    margin: 10px ;
    border-radius: 20px ;
    font-size: 1.2rem;
    border: 2px solid #6b6b6b;
    background-color: #fff;
}
.product-form textarea {
    resize: none;
}
.product-form label {
    font-weight: bold;
    font-size: 1rem;
}
.product-form input:focus{
    outline: none;
    border-color: var(--dark);
}
.product-form input[type="submit"]{
    padding: 10px 30px;
    margin: 0 auto;
}
.product-form input[type="submit"]:hover{
    background-color: var(--purple);
    cursor: pointer;
}
.product-form a{
    font-size: 1.2rem;
    font-weight: 600;
    color: #000;
    padding: 5px 10px;
    margin: 10px 0;
    width: fit-content;
    border: 2px solid #6b6b6b;
    background-color: #fff;
    border-radius: 20px ;
}
.product-form a:hover{
    background-color: var(--purple);
}
/*Mobile css */
@media only screen and (max-width: 1192px) {
    .filter-inputs{
        flex-direction: column;
        align-items: center;
    }
    #search-inventory-product {
        margin-top: 15px;
    }
}
@media only screen and (max-width: 1000px) {
    .Kpi{
        flex-wrap: wrap;
    }
    .Kpi div{
        flex: 1 1 40%;
        margin: 10px;
    }
    .filter-inputs{
        flex-direction: column;
        align-items: center;
    }
    #search-inventory-product{
        margin: 10px 0;
    }
}
@media only screen and (max-width: 920px) {
    .inventory-table td {
        padding: 20px 5px;
    }
}

@media only screen and (max-width: 908px) {
    .inventory-table td:last-of-type {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

@media only screen and (max-width: 840px) {
   .filter-inputs-section {
    display: flex;
    flex-direction: column;
   }
   .filter-inputs-section select,
   .filter-inputs-section button {
    margin: 0 0 10px 0;
   }
   .filter-inputs form:first-of-type {
    width: 60%;
   }
   .filter-inputs button,
   .filter-inputs a {
    margin: 0 auto 10px auto;
    max-width: 150px;
   }
}
@media only screen and (max-width: 654px) {
    .nav-btns{
        justify-content: center;
    }
    .nav-btns a{
        margin: 10px;
    }
}
@media only screen and (max-width: 620px){
    .dashboard-row{
        flex-direction: column;
        align-items: center;
    }
    .admin-db-container{
        flex-direction: column;
    }
    .nav-menu{
        top: 100px;
        left: -100%;
        width: 200px;
        position: fixed;
        height: 100vh;
        background-color: rgb(46, 46, 46);
        transition: all 0.3s;
        z-index: 1;
    }
    .header-admin img[src="../images/admin-dashboard-menu-icon-black.png"]{
        height: 40px;
    }
    .filter-inputs{
        margin: 10px 0;
    }
    .table-container{
        overflow-x: auto;
        width: 100%;
    }
    .inventory-table{
        margin: 0 auto;
        width: 100%;
    }
    .inventory-table thead{
        display: none;
    }
    .inventory-table td{
        display: flex;
        justify-content: space-between;
        padding: 8px;
        text-align: center;
        border: 1px solid #cecece;
    }
    .inventory-table td::before{
        content: attr(data-label);
        font-weight: bold;
    }
    .inventory-table tr{
        margin: 10px 0;
    }
    .hamburger-icon{
        display: block;
        cursor: pointer;
    }
    
    .header-admin{
        justify-content: space-between;
    }
    .header-admin-icon:first-of-type{
        display: none;
    }
    .header-admin-details{
        display: none;
    }
    #menu-toggle:checked ~ .nav-menu{
        left: 0px;
    }
}
@media only screen and (max-width: 560px){
    .admin-db-form .admin-db-container{
        align-items: normal;
    }
}

@media only screen and (max-width: 406px){
    .Kpi{
        flex-direction: column;
    }
    .Kpi div{
        width: 100%;
    }
    .filter-inputs input[type="text"]{
        padding: 4px 8px ;        
        margin-top: 3px;

    }
    .nav-btns {
        flex-direction: column;
    }
    .filter-inputs form:nth-child(2){
        display: flex;
        flex-direction: column;
    }

}
/*#endregion*/

/*#region Admin Analytics Page*/

#analytics-graphs-container 
{
    flex-direction: row;
    justify-content: center;
    max-width: 100vw;
    gap: 0.5em;
    width: 100%;
    margin: auto;
}

.graphs-item-container
{
    font-size: 0.75em;
}

/*#endregion*/

/*#region Admin Invoices Page*/

#invoice-table-filters 
{
    justify-content: space-between;
}

#invoice-table thead tr, #invoice-table tbody tr td, .element
{ 
    font-size: .9em;
}

/*#endregion*/

/*#region Guest Page*/
/*-----------------------------------------------------guest page------------------------------------------------------------------------------------*/
html {
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;

   }

   section{
       padding:2rem 9%;
   }
   
   header .guest {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background:var(--box-body);
    padding: 3rem 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
   }
   
   header .logo {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    color: #333333;
    font-weight: 800;
    text-transform: uppercase;
   }
   
   header .logo img{
       height: 100%;
       object-fit: cover;
       max-height: 70px;
       width: 100%;
   }


ul{
   list-style: none;
}
a{
   text-decoration: none;
}

/*--------navigation --------*/
#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 25px;
    right: 130px;
}
#theme-switch svg{
    fill: var(--dark);
}


#theme-switch svg:last-child{
    display: none;
}

.darkmode #theme-switch svg:first-child{
    display: none;
}
.darkmode #theme-switch svg:last-child{
    display: block;
}


.g-nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px -50px;
   width: 90%;
   margin: auto;
   max-width: 1100px;
}

.g-search-box{
   width: 280px;
   height: 40px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: var(--search-color);
   border-radius: 30px;
   padding: 0px 20px;
   margin-left: auto;
   border: 1px solid #f1f1f1;
}

.g-search-box input{
   width: 96%;
   height: 100%;
   background-color: transparent;
   border: none;
   outline: none;
}

.g-search-box button{
   color: #333333;
   border: none;
   outline: none;
   background-color: transparent;
   cursor: pointer;
}

header .g-icon a{
   font-size: 2.5rem;
   color: #333;
   margin-top: 1.5rem;
}
.g-icon a:hover i{
   color: #7334a2;
}

.g-icon{
    top: 25px;
    right: 130px;
    
}

/*---------home pic start--------*/
.home{
   display: flex;
   align-items: center;
   min-height: 100vh;
   background: url(../images/home.jpg) no-repeat;
   background-size: cover;
   background-position: center;
}
.home .g-content{
   max-width: 50rem;
}

.home .g-content h3{
   font-size: 6rem;
   color: #333;
}
.home .g-content span{
   font-size: 3.5rem;
   color: var(--dark);
   padding: 1rem 0;
   line-height: 1.5;
}

.home .g-content p{
   font-size: 1.5rem;
   color: #555050;
   padding: 1rem 0;
   line-height: 1.5;
}

/*---- products --------*/
#our-products{
   margin: 50px auto;
}

.our-p-products{
   display: flex;
   justify-content: space-between;
   align-items:center;
   flex-wrap:nowrap;
   width: 100%;
   background-color: #ece6e6;
   padding: 10px 20px;
   border-radius: 10px;
}


.our-p-products h3{
   font-size: 1.8rem;
   color: #1d1d1d;
   font-weight: 800;
}

.our-p-products ul{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: nowrap;
}

.our-p-products li{
   padding: 2px 20px;
   border-radius: 4px;
   margin: 0px 3px;
   color: #333333;
   font-weight: 600;
   letter-spacing: 1px;
}

.our-p-products li.active{
   background-color: #bb90db;
}

/* products box*/

.our-product-box{
   max-width: 250px;
   width: 100%;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   background-color: var(--box-body);
   padding: 10px;
   border: 1px solid #f1f1f1;
}

.our-product-img{
   width: 100%;
   height: 0px;
   padding: 20px;
   display: flex;
   margin: auto;
}
.our-product-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.our-product-text{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 5px 20px;
}
.our-product-text span{
   color: #7334a2;
   font-size: 1.4rem;
   font-weight: 500;
}
.our-product-text a{
    color:var(--product-text);
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
}

.our-product-container{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-gap: 20px;
   margin-top: 20px;
}

/*-----------------------------------------------------guest page end ------------------------------------------------------------------------------------*/
/*#endregion*/

/*#region Footer*/

footer{
    position: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #e2d0f0;
    height: auto;
    width: 100vw;
    font-family:"open sans";
    padding-top: 40px;
    color: #111;
}


.footer .jackscustomtest 
{
    position: fixed;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: var(--dark);
}

.socials a i{
    font-size: 2.1rem;
    transition: color .4s ease;
}

.socials a:hover i{
    color: #111;
}

.footer-bottom{
    background: #dcc6ed;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
/*------------------------------------footer end---------------------------------*/

/* media queries */
@media (max-width:991px){
    section{
        padding: 2rem;
    }

    .home{
        background-position: left;
    }
}

/*#endregion*/