:root {
    --main-color: #bb90db;
}

/*#region Across Many or All Pages*/
body
{
    margin: 0px;
}

.container {
    display: flex;
    min-height: 100vh;
}

.page-divider {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.segment-margined {
    flex-grow: 1;
    padding: 20px;
    margin-left: 1vw;
    margin-right: 1vw;
}


/*#endregion*/

/*#region Registered User Homepage*/
#navigation-sidebar {
    background-color: var(--main-color);
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    color: white;
}

#product-filtering
{
    display: flex;
    flex-direction: column;
    text-align: left;
}

#product-filtering label
{
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

#product-filtering button
{
    text-align: left;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 7.5px 5px;
}

#product-filtering output
{
    text-align: end;
    padding: 10px 0px;
}

#header-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2.5vh 1vw;
    color: white;
}

#search-container {
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    align-items: center;
}

#search-container button,
#search-container input,
#basket-button {
    background-color: transparent;
    border: 0px;
}

#basket-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#basket-button,
#search-button {
    width: 40px;
}

#basket-label {
    color: var(--main-color);
}

#searchbar {
    width: 700px;
    padding: 10px 0px;
    margin-left: 1em;
}

#header-user #left,
#header-user #right {
    display: flex;
    flex-direction: column;
}

#header-user #right {
    align-items: flex-end;
}

#header-user #right .spaced {
    margin: 1vh 0px;
    padding: 1vh 0px;
}

#button-logout {
    width: 100px;
    background-color: transparent;
    border: 0px;
    color: white;
}

#products-banner {
    border: 1px solid black;
    padding: 1vh 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#products-banner .section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#products-grid-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 20px 0px;
}

#products-grid-container .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/*#endregion*/

/*#region Registered User Basket*/
#basket {
    margin: auto;
    padding: 5vw;
    min-width: 1000px;
}

#basket-table {
    width: 100%;
}

#basket-table thead tr th,
tbody tr td {
    text-align: center;
}

#basket-table tbody tr td button {
    background-color: var(--main-color);
    color: white;
    padding: 10px 15px;
    border: 0px;
    border-radius: 10px;
}

#checkout-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px;
}

#checkout-label {
    background-color: var(--main-color);
    color: white;
    padding: 20px 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#checkout-button {
    background-color: var(--main-color);
    color: white;
    padding: 20px 25px;
    border: 0px;
}

#return {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--main-color);
}

#return-button {
    background-color: transparent;
    border: 0px;
}

#no-items
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*#endregion*/

/*#region Admin Invoice Page*/

#invoice-table-filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1em;
}

#invoice-table-filters .filter {
    padding: 1vh 0px;
}

.element {
    padding: 1vh 1vw;
    border-radius: 5px;
    font-size: 0.75em;
}

.element.ui {
    color: white;
    background-color: var(--main-color);
    color-scheme: dark;
    border: none;
}

.open-invoice
{
    padding: 1vh 1vw;
    border-radius: 5px;
    font-size: 0.75em;
    color: white;
    background-color: var(--main-color);
    border: none;
}

#invoice-table-container
{
    overflow-x: auto;
    width: 100%;
}

#invoice-table {
    border-spacing: 0px;
    border-collapse: collapse;
    min-width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    margin: 2vh 0;
    font-size: 1em;
}

#invoice-table thead tr {
    background: var(--main-color);
    color: white;
    text-align: left;
}

#invoice-table tbody tr td
{ 
    text-align: left;
}

#invoice-table th, #invoice-table td {
    padding: 1em;
}

#invoice-table tbody tr {
    border-bottom: 1px solid var(--main-color);
}

#invoice-table tbody tr:nth-of-type(even) {
    background: lightgray;
}

#invoice-table tbody tr:last-of-type {
    border-bottom: 2px solid black;
}

#invoice-table tbody tr.active {
    font-weight: bold;
    color: white;
    background-color: var(--main-color);
    border: 2px dashed white;
}

/*#endregion*/

/*#region Admin Analytics Page*/

#analytics-graphs-container 
{
    display: flex;
    flex-direction: column;
    max-width: 75vw;
}

.graphs-item-container
{
    font-size: 1em;
    text-align: center;
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

#branch-filtering
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#branch-inventory-form
{
    padding: 0px 20px;
}

/*#endregion*/

/*#region Across Admin Pages*/

h1.admin {
    border-bottom: 2px solid black;
    padding: 2vh 0px;
}

/*#endregion*/

/*#region Register and Login Page*/
.main-container {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0px;
}

.main-container .user-form {
    padding: 50px 15px;
    border-radius: 3px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    background: #bb90db;
    text-align: center;
    width: 470px;

}

.main-container .user-form h3 {
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #333;
}

.main-container .user-form input {
    width: 95%;
    padding: 10px 5px;
    font-size: 15px;
    margin: 7px 0;
    background: #eee;
    border-radius: 5px;
}

.main-container .user-form .form-btn {
    width: 70%;
    background: white;
    color: black;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
}

.main-container .user-form .form-btn:hover {
    background: #778899;
    color: #fff;
}

.main-container .user-form p {
    margin-top: 10px;
    font-size: 20px;
    color: #333;
}

.main-container .user-form p a {
    color: #3f6184;
}

.main-container .user-form p a:hover {
    color: black;
}

/*#endregion*/

/*#region Generated Invoice Page*/

h1#generated-invoice-h1
{
    font-size: 5em;
}

#generated-invoice-container
{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 620px;
    height: fit-content;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 150px;
    border-radius: 10px;
    border: 8px double black;
}

#generated-invoice-header, #generated-invoice-addresses
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#generated-invoice-main-body
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 25px;
}

/*#endregion*/

/*#region Generated Report Page*/
h1#generated-report-h1
{
    font-size: 3.5em;
}

#generated-report-container{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 620px;
    height: fit-content;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 150px;
    border-radius: 10px;
    border: 8px double black;
}
#generated-report-container table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
}
#generated-report-container th{
    border: 1px solid #cecece;
    padding: 10px 5px;
    align-items: center;
}
#generated-report-container td{
    border: 1px solid #cecece;
    padding: 10px 5px;
    text-align: center;
}
#generated-report-header
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#generated-report-main-body
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 25px;
}
/*#endregion*/

/*#region Integrating "@media only" which is in Desktop.css*/

@media only screen and (max-width: 1000px) {
    .Kpi {
        flex-wrap: wrap;
    }

    .Kpi div {
        flex: 1 1 40%;
        margin: 10px;
    }
}

@media only screen and (max-width: 710px) {
    .filter-inputs {
        flex-direction: column;
        align-items: center;
    }

    #search-inventory-product {
        margin: 10px 0;
    }
}

@media only screen and (max-width: 654px) {
    .inventory-table td:last-of-type {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .delete-item-btn {
        margin: 10px 0 0 0;
    }

    .nav-btns {
        justify-content: center;
    }

    .nav-btns a {
        margin: 10px;
    }
}

@media only screen and (max-width: 737px) {
    .dashboard-row {
        flex-direction: column;
        align-items: center;
    }

    .admin-db-container {
        flex-direction: column;
    }

    .nav-menu {
        top: 100px;
        left: -100%;
        width: 200px;
        position: fixed;
        height: 100vh;
        background-color: rgb(46, 46, 46);
        transition: all 0.3s;
        z-index: 1;
    }

    .header-admin img[src="../images/admin-dashboard-menu-icon-black.png"] {
        height: 40px;
    }

    .filter-inputs {
        margin: 10px 0;
    }

    .table-container {
        overflow-x: auto;
        width: 100%;
    }

    .inventory-table {
        margin: 0 auto;
        width: 100%;
    }

    .inventory-table thead {
        display: none;
    }

    .inventory-table td {
        display: flex;
        justify-content: space-between;
        padding: 8px;
        text-align: center;
        border: 1px solid #cecece;
    }

    .inventory-table td::before {
        content: attr(data-label);
        font-weight: bold;
    }

    .inventory-table tr {
        margin: 10px 0;
    }

    .hamburger-icon {
        display: block;
        cursor: pointer;
    }

    .header-admin {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

    .header-admin-icon:first-of-type {
        display: none;
    }

    .header-admin-details {
        display: none;
    }

    #menu-toggle:checked~.nav-menu {
        left: 0px;
    }
}

@media only screen and (max-width: 406px) {
    .filter-inputs input[type="text"] {
        padding: 4px 8px;
        margin-top: 3px;

    }

}

/*#endregion*/